<div  id='setting' ng-cloak>
	<p class='logo-brand-page'><a href="#/home" class='logo-brand'>Qu!k</a></p>
	<div class='floating-panel' >
		<h2><span translate>Settings</span></h2>
		<div class='content'>
			<h3 translate>Language</h3>
			<p>
				<a href ng-click="changeLanguage('en')" class="menu-flag-icon menu-flag-icon-en" title="{{'English'|translate}}"></a> 
				<a href ng-click="changeLanguage('it')" class="menu-flag-icon menu-flag-icon-it" title="{{'Italian'|translate}}"></a>
			</p>
		</div>
	</div>
	<div class='home-bullet-container'>
        <button class='round-bullet' ng-click="goToHome()"><i class='fa fa-home'></i></button>
	</div>
 </div>

